@model IEnumerable<CargoClass.Customer>

@{

    ViewBag.Title = "Customer List";

}

<h2>Customer List</h2>

<p>@Html.ActionLink("Back to Dashboard", "Dashboard", "Administrators", null, new { @class = "btn btn-secondary" })</p>

<p>@Html.ActionLink("Search Customer", "SearchCustomer", "Administrators", null, new { @class = "btn btn-primary" })</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
              
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>

            @Html.DisplayNameFor(model => model.First().Phone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)

    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Phone)
            </td>
        </tr>

    }

</table>

<p>@Html.ActionLink("Back to Dashboard", "Dashboard", "Administrators", null, new { @class = "btn btn-secondary" })</p>

 